<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFlightsServise" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64964/FlightsService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFlightsServise"
                contract="MyService.IFlightsServise" name="WSHttpBinding_IFlightsServise">
                <identity>
                    <userPrincipalName value="HEX-AGONY\HEkTO" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>