<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SpellServiceSoap" />
            </basicHttpBinding>
            
        </bindings>
        <client>
            <endpoint address="http://speller.yandex.net/services/spellservice"
                binding="basicHttpBinding" bindingConfiguration="SpellServiceSoap"
                contract="SpellService1.SpellServiceSoap" name="SpellServiceSoap" />
            
        </client>
    </system.serviceModel>
</configuration>